*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}

.hero__section{
    background-image: url("./images/heroSectionBackground.png");
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar__menu_container{
    display: flex;
    gap: 40px;
}
.navbar .fa-mobile-screen-button{
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
}
.fa-user{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.header_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(60vh - 70px);
    gap: 30px;
    padding: 0 0 50px 0 ;
}
.hero__section_logo{
    width: 275px;
}
.hero_section_title{
    color: white;
    font-weight: 400;
    font-size: 35px;
}
.header_body_input_container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 15px 5px 15px 5px;

    border-radius: 10px;
    width: 50%;
}
.header_body_input_location, .header_body_input_search{
    border: none;
    /* padding: 5px; */
}
.header_body_input_location{
    width: 30%;
    border-right: 1px solid #e0e0e0;
}
.header_body_input_search{
    width: 70%;
}
.fa-magnifying-glass{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838383;
    /* padding: ; */
}
.fa-location-dot{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF7E8B;
}

@media only screen and (max-width: 480px) {
    .fa-user{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
        height: calc(80vh - 40px);
    }
    .header_body_input_container{
        width: 90%;
    }
}

.we_offer_container{
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.we_offer_container a{
    width: 23%;
    height: calc(40vh - 7vh);
    border: 1px solid #E8E8E8;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.we_offer_card{
    /* width: 23vw; */
    width: 100%;
    height: calc(40vh - 7vh);
    border: 1px solid #E8E8E8;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.we_offer_card img{
    width: 100%;
    /* height: calc(calc(40vh - 10vh) - 70px); */
    height: 65%;
    object-fit: cover;
    object-position: center;
}
.we_offer_card_content{
    /* height: 30%; */
    width: 100%;
    height: 35%;
    /* padding: 5px 15px 0 15px; */
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}
.we_offer_card_content h2{
    font-size: 20px;
    font-weight: 400;
}
.we_offer_card_content p{
    font-weight: 300;
    font-size: 15px;
}
.collections_localities{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.collections_container{
    width: 71vw;
    height: 65vh;
    /* background-color: #838383; */
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}
.collections_container_info{
    height: 20%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 300;
    justify-content: center;
}
.collections_container_info_extra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.collections_container_info h2{
    font-weight: 500;
    font-size: 35px;
}
.collections_container_info a{
    font-size: 15px;
    text-decoration: none;
    color: red;
}
.collections_list{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.collection_box{
    height: 80%;
    width: 24%;
    border-radius: 12px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.collection_box_one{
    background-image: url("./images/collection1.jpg");
}
.collection_box_two{
    background-image: url("./images/collection2.jpg");
}
.collection_box_three{
    background-image: url("./images/collection3.jpg");
}
.collection_box_four{
    background-image: url("./images/collection4.jpg");
}
.collection_box_content{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 0.9rem;
}
.collection_box_content h4{
    font-weight: 400;
}
.overlay{
    /* position: absolute; */
    width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #000 100%); */
    background-color: red;
}





/* LOCALITIES CONTAINER STARTS HERE*/
.localities_container{
    width: 71vw;
    height: 65vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}
.localities_container_title_container{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
}
.localities_container_title_container h2{
    font-weight: 500;
    font-size: 35px;
}



/* GET THE ZOMATO APP */
.get_the_app_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 251, 247);
    width: 100%;
    padding: 3rem 6rem;
    border: 1px solid red;
    
}
.get_the_app_container .semi_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.get_the_app_container .semi_container .left{
    flex: 2;
}
.get_the_app_container .semi_container .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.get_the_app_container .semi_container .rigth{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right{
    gap: 20px;
}
.right h1{
    font-weight: 400;
    font-size: 2rem;
}
.right p{
    font-size: 0.8rem;
}
.right .radio_buttons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.right .radio_buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right .radio_buttons div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239,79,95);
}
.right .input_container{
    display: flex;
    gap: 0.5rem;
}
.input_container button, .input_container input{
    padding: 10px 20px;
}
.input_container input{
    flex: auto;
    outline: none;
    border: 1.5px solid grey;
}
.input_container button{
    border: none;
    background-color: rgb(239, 79, 95);
    border-radius: 5px;
    cursor: pointer;
    color: white;
}