*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.hero__section{
    background-image: url("./images/heroSectionBackground.png");
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar__menu_container{
    display: flex;
    gap: 40px;
}
.navbar .fa-mobile-screen-button{
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
}
.fa-user{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.header_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 50px 0 0 0 ;
}
.hero__section_logo{
    width: 275px;
}
.header_body h1{
    color: white;
    font-weight: 400;
    font-size: 30px;
}
@media only screen and (max-width: 600px) {
    .fa-user{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section{
        min-height: 80vh;
    }
}
